/*Porait*/
@media only screen and (max-width:767px) {
  @media screen and (orientation:portrait) 
  {.PolarityAiButton {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 40vw;
    height: 25vh;
    transform:translate(20vw, 5vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.PolarityAiButton:hover {
    opacity: 0.9;
  }
  
  .GAMESBUTTON {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 40vw;
    height: 25vh;
    transform:translate(20vw, 35vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .DAILYMOVIEBUTTON{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 400px;
    height: 200px;
    transform:translate(75vw, 50vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px #00000080;
  }
  
  .CHESSBUTTON {
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 25vw;
    height: 15vh;
    transform:translate(5vw, 25vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.CHESSBUTTON:hover {
    opacity: 0.9;
  }
  
  .Back {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 25vw;
    height: 15vh;
    transform:translate(-1vw, -45vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
  }.Back:hover {
    opacity: 0.9;
  }
  
  .AIBACK {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 200px;
    height: 100px;
    transform:translate(0vw, 0vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.AIBACK:hover {
    opacity: 0.9;
  }
  
  .PICTONARYBUTTON {
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 25vw;
    height: 15vh;
    transform:translate(5vw, 30vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.PICTONARYBUTTON:hover {
    opacity: 0.9;
  }
  .BATTLESHIPBUTTON {
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 25vw;
    height: 15vh;
    transform:translate(5vw, 35vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.BATTLESHIPBUTTON:hover {
    opacity: 0.9;
  }



}
    
  }

/* Desktop*/
@media only screen and (min-width:1699px) and (max-width: 1920px) 
{
    .PolarityAiButton {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(5vw, 15vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.PolarityAiButton:hover {
    opacity: 0.9;
  }
  
  .GAMESBUTTON {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(39vw, 15vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .DAILYMOVIEBUTTON{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 400px;
    height: 200px;
    transform:translate(75vw, 50vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px #00000080;
  }
  
  .CHESSBUTTON {
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(0vw, 25vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.CHESSBUTTON:hover {
    opacity: 0.9;
  }
  
  .Back {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 200px;
    height: 100px;
    transform:translate(0px, -40vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
  }.Back:hover {
    opacity: 0.9;
  }
  
  .AIBACK {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 200px;
    height: 100px;
    transform:translate(0vw, 0vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.AIBACK:hover {
    opacity: 0.9;
  }
  
  .PICTONARYBUTTON {
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(0vw, 30vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.PICTONARYBUTTON:hover {
    opacity: 0.9;
  }
  .BATTLESHIPBUTTON {
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(0vw, 35vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.BATTLESHIPBUTTON:hover {
    opacity: 0.9;
  }}

/* Desktop*/
@media only screen and (min-width:1500px) and (max-width: 1700px) 
{
    .PolarityAiButton {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(0vw, 15vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.PolarityAiButton:hover {
    opacity: 0.9;
  }
  
  .GAMESBUTTON {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(39vw, 15vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .DAILYMOVIEBUTTON{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 400px;
    height: 200px;
    transform:translate(75vw, 50vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px #00000080;
  }
  
  .CHESSBUTTON {
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(0vw, 25vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.CHESSBUTTON:hover {
    opacity: 0.9;
  }
  
  .Back {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 200px;
    height: 100px;
    transform:translate(0px, -40vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
  }.Back:hover {
    opacity: 0.9;
  }
  
  .AIBACK {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 200px;
    height: 100px;
    transform:translate(0vw, 0vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.AIBACK:hover {
    opacity: 0.9;
  }
  
  .PICTONARYBUTTON {
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(0vw, 30vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.PICTONARYBUTTON:hover {
    opacity: 0.9;
  }
  .BATTLESHIPBUTTON {
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(0vw, 35vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.BATTLESHIPBUTTON:hover {
    opacity: 0.9;
  }}

  @media only screen and (min-width:1300px) and (max-width: 1499px) 
{
    .PolarityAiButton {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 25vw;
    height: 25vh;
    transform:translate(2vw, 15vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.PolarityAiButton:hover {
    opacity: 0.9;
  }
  
  .GAMESBUTTON {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 25vw;
    height: 25vh;
    transform:translate(39vw, 15vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .DAILYMOVIEBUTTON{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 400px;
    height: 200px;
    transform:translate(75vw, 50vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px #00000080;
  }
  
  .CHESSBUTTON {
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(0vw, 25vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.CHESSBUTTON:hover {
    opacity: 0.9;
  }
  
  .Back {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 200px;
    height: 100px;
    transform:translate(0px, -40vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
  }.Back:hover {
    opacity: 0.9;
  }
  
  .AIBACK {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 200px;
    height: 100px;
    transform:translate(0vw, 0vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(52, 16, 216);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.AIBACK:hover {
    opacity: 0.9;
  }
  
  .PICTONARYBUTTON {
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(0vw, 30vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.PICTONARYBUTTON:hover {
    opacity: 0.9;
  }
  .BATTLESHIPBUTTON {
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 15vw;
    height: 15vh;
    transform:translate(0vw, 35vh);
    background-image: url('Polarity Logo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(43, 255, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }.BATTLESHIPBUTTON:hover {
    opacity: 0.9;
  }}


  @media only screen and (min-width:1000px) and (max-width: 1299px) 
  {
      .PolarityAiButton {
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
      justify-content: center;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      width: 20vw;
      height: 15vh;
      transform:translate(2vw, 15vh);
      background-image: url('Polarity Logo.png'); /* Replace with your image path */
      background-size: cover;
      background-position: center;
      border: none;
      color: rgb(52, 16, 216);
      font-family: 'Rubik', sans-serif;
      font-weight: 800;
      font-size: 25px;
      cursor: pointer;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }.PolarityAiButton:hover {
      opacity: 0.9;
    }
    
    .GAMESBUTTON {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: center;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      width: 20vw;
      height: 15vh;
      transform:translate(39vw, 15vh);
      background-image: url('Polarity Logo.png'); /* Replace with your image path */
      background-size: cover;
      background-position: center;
      border: none;
      color: rgb(52, 16, 216);
      font-family: 'Rubik', sans-serif;
      font-weight: 800;
      font-size: 25px;
      cursor: pointer;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
    
    .DAILYMOVIEBUTTON{
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
      justify-content: center;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      width: 400px;
      height: 200px;
      transform:translate(75vw, 50vh);
      background-image: url('Polarity Logo.png'); /* Replace with your image path */
      background-size: cover;
      background-position: center;
      border: none;
      color: rgb(52, 16, 216);
      font-family: 'Rubik', sans-serif;
      font-weight: 800;
      font-size: 25px;
      cursor: pointer;
      text-shadow: 1px 1px 2px #00000080;
    }
    
    .CHESSBUTTON {
      display: flex;
      position: unset;
      align-items: center;
      justify-content: center;
      justify-content: center;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      width: 15vw;
      height: 15vh;
      transform:translate(0vw, 25vh);
      background-image: url('Polarity Logo.png'); /* Replace with your image path */
      background-size: cover;
      background-position: center;
      border: none;
      color: rgb(43, 255, 0);
      font-family: 'Rubik', sans-serif;
      font-weight: 800;
      font-size: 25px;
      cursor: pointer;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }.CHESSBUTTON:hover {
      opacity: 0.9;
    }
    
    .Back {
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
      justify-content: center;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      width: 200px;
      height: 100px;
      transform:translate(0px, -40vh);
      background-image: url('Polarity Logo.png'); /* Replace with your image path */
      background-size: cover;
      background-position: center;
      border: none;
      color: rgb(52, 16, 216);
      font-family: 'Rubik', sans-serif;
      font-weight: 800;
      font-size: 25px;
      cursor: pointer;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      z-index: 100;
    }.Back:hover {
      opacity: 0.9;
    }
    
    .AIBACK {
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
      justify-content: center;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      width: 200px;
      height: 100px;
      transform:translate(0vw, 0vh);
      background-image: url('Polarity Logo.png'); /* Replace with your image path */
      background-size: cover;
      background-position: center;
      border: none;
      color: rgb(52, 16, 216);
      font-family: 'Rubik', sans-serif;
      font-weight: 800;
      font-size: 25px;
      cursor: pointer;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }.AIBACK:hover {
      opacity: 0.9;
    }
    
    .PICTONARYBUTTON {
      display: flex;
      position: unset;
      align-items: center;
      justify-content: center;
      justify-content: center;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      width: 15vw;
      height: 15vh;
      transform:translate(0vw, 30vh);
      background-image: url('Polarity Logo.png'); /* Replace with your image path */
      background-size: cover;
      background-position: center;
      border: none;
      color: rgb(43, 255, 0);
      font-family: 'Rubik', sans-serif;
      font-weight: 800;
      font-size: 25px;
      cursor: pointer;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }.PICTONARYBUTTON:hover {
      opacity: 0.9;
    }
    .BATTLESHIPBUTTON {
      display: flex;
      position: unset;
      align-items: center;
      justify-content: center;
      justify-content: center;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      width: 15vw;
      height: 15vh;
      transform:translate(0vw, 35vh);
      background-image: url('Polarity Logo.png'); /* Replace with your image path */
      background-size: cover;
      background-position: center;
      border: none;
      color: rgb(43, 255, 0);
      font-family: 'Rubik', sans-serif;
      font-weight: 800;
      font-size: 25px;
      cursor: pointer;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }.BATTLESHIPBUTTON:hover {
      opacity: 0.9;
    }}
  
    @media only screen and (min-width:768px) and (max-width: 999px) 
    {
        .PolarityAiButton {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        justify-content: center;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        width: 25vw;
        height: 15vh;
        transform:translate(2vw, 15vh);
        background-image: url('Polarity Logo.png'); /* Replace with your image path */
        background-size: cover;
        background-position: center;
        border: none;
        color: rgb(52, 16, 216);
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        font-size: 25px;
        cursor: pointer;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }.PolarityAiButton:hover {
        opacity: 0.9;
      }
      
      .GAMESBUTTON {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: center;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        width: 25vw;
        height: 15vh;
        transform:translate(39vw, 15vh);
        background-image: url('Polarity Logo.png'); /* Replace with your image path */
        background-size: cover;
        background-position: center;
        border: none;
        color: rgb(52, 16, 216);
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        font-size: 25px;
        cursor: pointer;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
      
      .DAILYMOVIEBUTTON{
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        justify-content: center;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        width: 400px;
        height: 200px;
        transform:translate(75vw, 50vh);
        background-image: url('Polarity Logo.png'); /* Replace with your image path */
        background-size: cover;
        background-position: center;
        border: none;
        color: rgb(52, 16, 216);
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        font-size: 25px;
        cursor: pointer;
        text-shadow: 1px 1px 2px #00000080;
      }
      
      .CHESSBUTTON {
        display: flex;
        position: unset;
        align-items: center;
        justify-content: center;
        justify-content: center;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        width: 15vw;
        height: 15vh;
        transform:translate(0vw, 25vh);
        background-image: url('Polarity Logo.png'); /* Replace with your image path */
        background-size: cover;
        background-position: center;
        border: none;
        color: rgb(43, 255, 0);
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        font-size: 25px;
        cursor: pointer;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }.CHESSBUTTON:hover {
        opacity: 0.9;
      }
      
      .Back {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        justify-content: center;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        width: 200px;
        height: 100px;
        transform:translate(0px, -40vh);
        background-image: url('Polarity Logo.png'); /* Replace with your image path */
        background-size: cover;
        background-position: center;
        border: none;
        color: rgb(52, 16, 216);
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        font-size: 25px;
        cursor: pointer;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        z-index: 100;
      }.Back:hover {
        opacity: 0.9;
      }
      
      .AIBACK {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        justify-content: center;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        width: 200px;
        height: 100px;
        transform:translate(0vw, 0vh);
        background-image: url('Polarity Logo.png'); /* Replace with your image path */
        background-size: cover;
        background-position: center;
        border: none;
        color: rgb(52, 16, 216);
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        font-size: 25px;
        cursor: pointer;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }.AIBACK:hover {
        opacity: 0.9;
      }
      
      .PICTONARYBUTTON {
        display: flex;
        position: unset;
        align-items: center;
        justify-content: center;
        justify-content: center;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        width: 15vw;
        height: 15vh;
        transform:translate(0vw, 30vh);
        background-image: url('Polarity Logo.png'); /* Replace with your image path */
        background-size: cover;
        background-position: center;
        border: none;
        color: rgb(43, 255, 0);
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        font-size: 25px;
        cursor: pointer;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }.PICTONARYBUTTON:hover {
        opacity: 0.9;
      }
      .BATTLESHIPBUTTON {
        display: flex;
        position: unset;
        align-items: center;
        justify-content: center;
        justify-content: center;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        width: 15vw;
        height: 15vh;
        transform:translate(0vw, 35vh);
        background-image: url('Polarity Logo.png'); /* Replace with your image path */
        background-size: cover;
        background-position: center;
        border: none;
        color: rgb(43, 255, 0);
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        font-size: 25px;
        cursor: pointer;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }.BATTLESHIPBUTTON:hover {
        opacity: 0.9;
      }}
    
    
  
  
