

  @media only screen and (max-width:767px) {
    /*style for mobile*/
    h1 {
      text-align: center;
      transform: translate(35vw, 135px);
      font-size: 50px;
      width: 100%;
      font-family: "Rubik", sans-serif;
      letter-spacing: 0.3em;
      color: #671cad;
      text-shadow: 0 0 0 rgb(39, 7, 49), 1px 0 0 rgb(39, 7, 49),
        2px 0 0 rgb(39, 7, 48), 3px 0 0 rgb(24, 155, 231), 4px 0 0 rgb(39, 7, 46),
        5px 0 0 rgb(39, 7, 45), 6px 0 0 rgb(39, 7, 44), 7px 0 0 rgb(39, 7, 43),
        8px 0 0 rgb(58, 8, 139), 9px 0 0 rgb(30, 179, 30), 10px 0 0 rgb(39, 7, 41),
        11px 0 10px rgba(39, 7, 39), 11px 0 1px rgb(179, 23, 23),
        0 0 10px rgba(39, 7, 27);
    }
    
    
    
    .UPDATELOG {
      position:fixed;
      text-align: unset;
      font-size: 20px;
      width: 2vw;
      text-wrap:nowrap;
      font-family: "Rubik", sans-serif;
      letter-spacing: 0.3em;
      color: #000000;
      text-shadow: 0 0 0 rgb(39, 7, 49), 1px 0 0 rgb(39, 7, 49),
        2px 0 0 rgb(39, 7, 48), 3px 0 0 rgb(24, 155, 231);
      }
    
    
      h2 {
        text-align: center;
        position: fixed;
        font-size: 55px;
        width: 100%;
        font-family: "Rubik", sans-serif;
        letter-spacing: 0.3em;
        color: #671cad;
        text-shadow: 0 0 0 rgb(39, 7, 49), 1px 0 0 rgb(39, 7, 49),
          2px 0 0 rgb(39, 7, 48), 3px 0 0 rgb(24, 155, 231), 4px 0 0 rgb(39, 7, 46),
          5px 0 0 rgb(39, 7, 45), 6px 0 0 rgb(39, 7, 44), 7px 0 0 rgb(39, 7, 43),
          8px 0 0 rgb(58, 8, 139), 9px 0 0 rgb(30, 179, 30), 10px 0 0 rgb(39, 7, 41),
          11px 0 10px rgba(39, 7, 39), 11px 0 1px rgb(179, 23, 23),
          0 0 10px rgba(39, 7, 27);
      }


  }
  
  
  @media only screen and (min-width:768px) {
  /*style for desktop and tablet*/
  h1 {
    text-align: center;
    transform: translate(35vw, 135px);
    font-size: 50px;
    width: 100%;
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.3em;
    color: #671cad;
    text-shadow: 0 0 0 rgb(39, 7, 49), 1px 0 0 rgb(39, 7, 49),
      2px 0 0 rgb(39, 7, 48), 3px 0 0 rgb(24, 155, 231), 4px 0 0 rgb(39, 7, 46),
      5px 0 0 rgb(39, 7, 45), 6px 0 0 rgb(39, 7, 44), 7px 0 0 rgb(39, 7, 43),
      8px 0 0 rgb(58, 8, 139), 9px 0 0 rgb(30, 179, 30), 10px 0 0 rgb(39, 7, 41),
      11px 0 10px rgba(39, 7, 39), 11px 0 1px rgb(179, 23, 23),
      0 0 10px rgba(39, 7, 27);
  }
  
  
  
  .UPDATELOG {
    position:fixed;
    text-align: unset;
    font-size: 20px;
    width: 2vw;
    text-wrap:nowrap;
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.3em;
    color: #000000;
    text-shadow: 0 0 0 rgb(39, 7, 49), 1px 0 0 rgb(39, 7, 49),
      2px 0 0 rgb(39, 7, 48), 3px 0 0 rgb(24, 155, 231);
    }
  
  
    h2 {
      text-align: center;
      position: fixed;
      font-size: 55px;
      width: 100%;
      font-family: "Rubik", sans-serif;
      letter-spacing: 0.3em;
      color: #671cad;
      text-shadow: 0 0 0 rgb(39, 7, 49), 1px 0 0 rgb(39, 7, 49),
        2px 0 0 rgb(39, 7, 48), 3px 0 0 rgb(24, 155, 231), 4px 0 0 rgb(39, 7, 46),
        5px 0 0 rgb(39, 7, 45), 6px 0 0 rgb(39, 7, 44), 7px 0 0 rgb(39, 7, 43),
        8px 0 0 rgb(58, 8, 139), 9px 0 0 rgb(30, 179, 30), 10px 0 0 rgb(39, 7, 41),
        11px 0 10px rgba(39, 7, 39), 11px 0 1px rgb(179, 23, 23),
        0 0 10px rgba(39, 7, 27);
    }

  }

  